<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
  <header class="main-header">
    <div class="login vertical"> <a href="/"> Login </a> </div>
  </header>
  <div class="container">
    <div class="sidebar">
      <button class="menu-button">Calendar</button>
      <button class="menu-button">Books and Movies</button>
      <button class="menu-button">Goals</button>
    </div>
    <div class="main-section" >
      <div class="motivation">
        <h1>{{massage}}</h1>
      </div>
    </div>
    </div>
</body>
</html>
