
@font-face {
  font-family: BulletJournal;
  src: url(src/font/Sweetboys.ttf);
}
@font-face {
  font-family: BulletJournal2;
  src: url(src/font/BulletJournal.ttf);
}
body{
  background: #d4cabe;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-header{
  border: solid 2px rgb(89,89,77);
  padding: 15px;
  font-size: 30px;
  background: rgb(89,89,77);
}
.main-header > .login{
  float: right;
}
.login > a{
  text-decoration: none;
  color: wheat;
}
.login > a:hover
{
  text-decoration: underline;
  color: wheat;
}
.vertical{
  top: 40%;
}
.container{
  height: 94%;
  display: flex;
  width: 100%;
}
.sidebar{
  margin-top: 5px;
  width: 10%;
  float: left;
  display: flex;
  flex-direction: column;
}
.sidebar > .menu-button{
  display: block;
  margin-left: 10px;
  width: 100%;
  background: rgb(175, 161,148);
  padding-bottom: 80px;
  border: solid 2px rgb(89,89,77);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: BulletJournal2, 'Bullet Journal', cursive;
  font-size: 220%;
  outline: none;
}
.sidebar > .menu-button:hover{
  background: rgb(89,89,77);
}

.main-section{
  width: 90%;
  border: solid 2px rgb(89,89,77);
  margin-top: 5px;
  margin-bottom: 1px;
  background: rgb(175, 161,148);
  display: flex;
  /*justify-content: center;
  align-items: center;*/
  flex-direction: column;
}
.calendar{
  height: 80%;
  display: flex;
  flex-direction: row;
}
.toolbar {
border-top: solid 2px rgb(89,89,77);
}
.prevMonth, .nextMonth{
  width: 5%;
  border: solid 1px rgb(89,89,77);
  justify-content: center;
  align-items: center;
}
.curMonth{
  width: 90%;
  border: solid 2px rgb(89,89,77);
  justify-content: center;
  padding-left: 1px;
}

.prevMonth > button, .nextMonth > button {
  text-decoration: none;
 /* display: inline-block;*/
  padding: 8px 16px;
  font-size: 120px;
  color: wheat;
}

.prevMonth >button:hover, .nextMonth > button:hover {
  text-decoration: underline;
  color: wheat;
}

